# Sensitive files
.env
users.json
match.json
*.xlsx
debug.log
products_cache.json
app_backup.py

# Python cache
__pycache__/
*.pyc

# System files
.DS_Store
Yedek/

# Static files
static/robots.txt
costs.json
